.App-header {
    background-color: rgb(69, 160, 167);
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(45, 39, 147);
  }

  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 25vmin;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }